// Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-blue: #605DEC;
$color-light-blue: #8EA2EC;
$color-yellow: #FFC830;
$color-gray: #8C8C8C;
$color-light-gray: #C9C8D3;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 810px;
$breakpoint-desktop: 1440px;
